<div class="container-fluid">
  <app-page-title [title]="title +' Location'" [breadcrumbItems]="breadCrumbItems"></app-page-title>

      <div class="row">
        <div class="col-lg-12">
          <form (ngSubmit)="typeSubmit()"  #f=ngForm [formGroup]="typeValidationForm" class="row">

            <div class="card col-md-12">
              <div class="card-body row">
           
                <div class="form-group  col-md-12">
                  <label>Logo</label>
                  <div>
                    <input type="file"  (change)="onFileSelected($event)" formControlName="logo"
                      [ngClass]="{'is-invalid': (typesubmit && type.logo.errors || (sizeError|| !imageType))}">
                    <div *ngIf="typesubmit && type.logo.errors" class="invalid-feedback">
                      <span *ngIf="type.logo.errors.required">Logo is required.</span>
                    </div>
                    <div class="invalid-feedback">
                      <span  *ngIf="sizeError==true">
                        Image size cannot exceed 2MB.
                     </span>
                     <span *ngIf="imageType==false">
                         Invalid Image file.
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group  col-md-6">
                  <label>Brand Name</label>
                  <div>
                    <input type="text" class="form-control mb-3" formControlName="headline" autocomplete="off" 
                      [ngClass]="{'is-invalid': typesubmit && type.headline.errors}" />
                    <div *ngIf="typesubmit && type.headline.errors" class="invalid-feedback">
                      <span *ngIf="type.headline.errors.required">Brand Name is required.</span>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label>Store Name</label>
                  <input type="text" class="form-control mb-3" formControlName="name"
                    [ngClass]="{'is-invalid': typesubmit && type.name.errors}"/>
                  <div *ngIf="typesubmit && type.name.errors" class="invalid-feedback">
                    <span *ngIf="type.name.errors.required"> Name is required.</span>
                  </div>
                </div>
               
                
                <div class="form-group   col-md-6">
                  <label>Phone Number</label>
                  <ngx-intl-tel-input
                  [cssClass]="'custom'"
                  [preferredCountries]="preferredCountries"
                  [enableAutoCountrySelect]="false"
                  [enablePlaceholder]="true"
                  [searchCountryFlag]="true"
                  [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                  [selectFirstCountry]="false"
                  [selectedCountryISO]="selectedCountryISO"
                  [maxLength]="15"
                  [phoneValidation]="true"
                  inputId="my-input-id"
                  name="phone"
                  [separateDialCode]="separateDialCode"
                  formControlName="phone"
                ></ngx-intl-tel-input>
                  <!-- <input type="text" class="form-control mb-3" formControlName="phone"
                    [ngClass]="{'is-invalid': typesubmit && type.phone.errors}"  /> -->
                  <div *ngIf="typesubmit && f.form.controls['phone'].invalid" class="invalid-feedback" style="display:block">
                    <span *ngIf="f.form.controls['phone'].invalid">Require a valid phone number.</span>

                  </div>
                </div>
                
                <div class="form-group  col-md-6">
                  <label>TRN Number</label>
                  <input type="text" class="form-control mb-3" formControlName="TRN_Number"
                    [ngClass]="{'is-invalid': typesubmit && type.TRN_Number.errors}"  />
                  <div *ngIf="typesubmit && type.TRN_Number.errors" class="invalid-feedback">
                    <span *ngIf="type.TRN_Number.errors.required">TRN Number is required.</span>
                    <span *ngIf="type.TRN_Number.errors.pattern">TRN Number number should be a valid one.</span>

                  </div>
                </div>
                <div class="form-group  col-md-6">
                  <label>Address</label>
                  <textarea type="text" class="form-control mb-3" formControlName="address"
                    [ngClass]="{'is-invalid': typesubmit && type.address.errors}" ></textarea>
                  <div *ngIf="typesubmit && type.address.errors" class="invalid-feedback">
                    <span *ngIf="type.address.errors.required">Address is required.</span>
                  </div>
                </div>
                <div class="form-group  col-md-6">
                  <label>Logo - Website URL</label>
                  <div>
                    <input type="text" class="form-control mb-3" maxlength="100" formControlName="site" autocomplete="off" 
                      [ngClass]="{'is-invalid': typesubmit && type.site.errors}" />
                    <div *ngIf="typesubmit && type.site.errors" class="invalid-feedback">
                      <span *ngIf="type.site.errors.required">Website URL is required.</span>
                    </div> 
                  </div>
                </div>
                <div class="form-group  col-md-6">
                  <label>Privacy Policy - URL</label>
                  <input type="text" class="form-control mb-3" maxlength="100" formControlName="privacy_url"
                    [ngClass]="{'is-invalid': typesubmit && type.privacy_url.errors}"  />
                  <div *ngIf="typesubmit && type.privacy_url.errors" class="invalid-feedback">
                    <span *ngIf="type.privacy_url.errors.required">Privacy Policy is required.</span>
                  </div>
                </div>
                <div class="form-group  col-md-6">
                  <label>Terms and Conditions - URL</label>
                  <input type="text" class="form-control mb-3" maxlength="100" formControlName="conditions_url"
                    [ngClass]="{'is-invalid': typesubmit && type.conditions_url.errors}"  />
                  <div *ngIf="typesubmit && type.conditions_url.errors" class="invalid-feedback">
                    <span *ngIf="type.conditions_url.errors.required">Privacy Policy is required.</span>
                  </div>
                </div>
                <div class="form-group  col-md-6">
                  <label>Privacy Policy - Content</label>
                  <textarea type="text" class="form-control mb-3" maxlength="500" formControlName="privacy_content"
                    [ngClass]="{'is-invalid': typesubmit && type.privacy_content.errors}" ></textarea>
                  <div *ngIf="typesubmit && type.privacy_content.errors" class="invalid-feedback">
                    <span *ngIf="type.privacy_content.errors.required">Privacy Policy is required.</span>
                  </div>
                </div>
                <div class="form-group  col-md-6">
                  <label>Terms and Conditions - Content</label>
                  <textarea type="text" class="form-control mb-3" maxlength="500" formControlName="conditions_content"
                    [ngClass]="{'is-invalid': typesubmit && type.conditions_content.errors}" ></textarea>
                  <div *ngIf="typesubmit && type.conditions_content.errors" class="invalid-feedback">
                    <span *ngIf="type.conditions_content.errors.required">Privacy Policy is required.</span>
                  </div>
                </div>

                <div class="form-group  col-md-6">
                  <label>Returns and Refund Policy - URL</label>
                  <input type="text" class="form-control mb-3" maxlength="100" formControlName="return_url"
                    [ngClass]="{'is-invalid': typesubmit && type.return_url.errors}"  />
                  <div *ngIf="typesubmit && type.return_url.errors" class="invalid-feedback">
                  </div>
                </div>
                <div class="form-group  col-md-6">
                  <label>Returns and Refund Policy - Content</label>
                  <textarea type="text" class="form-control mb-3" maxlength="500" formControlName="return_content"
                    [ngClass]="{'is-invalid': typesubmit && type.return_content.errors}" ></textarea>
                  <div *ngIf="typesubmit && type.return_content.errors" class="invalid-feedback">
                  </div>
                </div>
              </div>
            </div>
            <div class="card col-md-12">
              <div class="card-body row">
                <h5 class="card-label col-md-12">Social Media Links</h5>
                <div class="form-group  col-md-6">
                  <label>Facebook</label>
                  <input type="text" class="form-control mb-3" formControlName="facebook"
                    [ngClass]="{'is-invalid': typesubmit && type.facebook.errors}"  />
                  <div *ngIf="typesubmit && type.facebook.errors" class="invalid-feedback">
                   
                  </div>
                </div>
                <div class="form-group  col-md-6">
                  <label>Instagram</label>
                  <input type="text" class="form-control mb-3" formControlName="insta"
                    [ngClass]="{'is-invalid': typesubmit && type.insta.errors}"  />
                  <div *ngIf="typesubmit && type.insta.errors" class="invalid-feedback">
                   
                  </div>
                </div>
                <div class="form-group  col-md-6">
                  <label>Twitter</label>
                  <input type="text" class="form-control mb-3" formControlName="twitter"
                    [ngClass]="{'is-invalid': typesubmit && type.twitter.errors}"  />
                  <div *ngIf="typesubmit && type.twitter.errors" class="invalid-feedback">
                   
                  </div>
                </div>
                <div class="form-group  col-md-6">
                  <label>Youtube</label>
                  <input type="text" class="form-control mb-3" formControlName="youtube"
                    [ngClass]="{'is-invalid': typesubmit && type.youtube.errors}"  />
                  <div *ngIf="typesubmit && type.youtube.errors" class="invalid-feedback">
                   
                  </div>
                </div>
                <div class="form-group  col-md-6">
                  <label>LinkedIn</label>
                  <input type="text" class="form-control mb-3" formControlName="linkedin"
                    [ngClass]="{'is-invalid': typesubmit && type.linkedin.errors}"  />
                  <div *ngIf="typesubmit && type.linkedin.errors" class="invalid-feedback">
                   
                  </div>
                </div>
              </div>
            </div>
            <div class="card col-md-12">
              <div class="card-body row">
                <h5 class="card-label col-md-12">Feedback Settings</h5>

                <div class="form-group  col-md-12">
                  <label>Rating headline</label>
                  <input type="text" class="form-control mb-3" formControlName="rating"
                    [ngClass]="{'is-invalid': typesubmit && type.rating.errors}"  />
                  <div *ngIf="typesubmit && type.rating.errors" class="invalid-feedback">
                   
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="message">Rating Reason<input type="button" class="btn btn-sm ms-3 btn-primary mt-3 mt-lg-0" value="+" (click)="addField()"></label>
                  <div formArrayName="formlist">
                    <div *ngFor="let data1 of formlist.controls; let i=index;">
                      <div [formGroupName]="i" class="row">                        
                        <div class="form-group col-md-11">
                          <input type="text" class="form-control mb-3" formControlName="reason"/>
                          <div *ngIf="typesubmit && formlist.controls[i].get('reason').errors?.required"  class="invalid-feedback">
                            <span *ngIf="formlist.controls[i].get('reason').errors?.required">Reason is required.</span>
                          </div>
                        </div>
                        <div class="col-md-1 align-self-center text-end" style="margin-top: -20px;" >
                          <i class="fas fa-trash-alt text-danger me-1"(click)="removeField(i)" ></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="message">Questionnaire <input type="button" class="btn btn-sm ms-3 btn-primary mt-3 mt-lg-0" value="+" (click)="addField1()"></label>
                  <div formArrayName="formlist1">
                    <div *ngFor="let data1 of formlist1.controls; let i=index;">
                      <div [formGroupName]="i" class="row">                        
                        <div class="form-group col-md-11">
                          <input type="text" class="form-control mb-3" formControlName="question"/>
                          <div *ngIf="typesubmit && formlist1.controls[i].get('question').errors?.required"  class="invalid-feedback">
                            <span *ngIf="formlist1.controls[i].get('question').errors?.required">Question is required.</span>
                          </div>
                        </div>
                        <div class="col-md-1 align-self-center text-end"  style="margin-top: -20px;">
                          <i class="fas fa-trash-alt text-danger me-1"(click)="removeField1(i)" ></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card col-md-12">
              <div class="card-body row">
                <div class="form-group  col-md-12">
                  <div>
                    <button type="reset" class="btn btn-secondary float-end">
                      Reset
                    </button>
                    <button type="submit" class="btn btn-primary float-end me-2">
                      Submit
                    </button>
                   
                  </div>
                </div>
              </div>
            </div>
        </form>

        </div>
    
       
      </div>
</div>  
  